.new-course-button {
    border: 0;
    height: 35px;
    background: linear-gradient(to bottom, #4ae4db, #0faedc);
    border-radius: 7px;
    color: white;
    font-weight: bold;
    width: 200px;
}