<div class="search-and-add-course">
  <app-search-control (filterCourseItems)="filterCourseItems($event)"></app-search-control>
  <app-new-course></app-new-course>
</div>

<div>
  <p *ngIf="isCoursesEmpty()">No courses found</p>
  <app-course-item
  *ngFor="let item of courseItems | orderBy: !creationDate"
  [id]="item.id"
  [title]="item.title"
  [creationDate]="item.creationDate"
  [duration]="item.duration"
  [description]="item.description"
  [isTopRated]="item.isTopRated"
  (editCourseItem)="editCourseItem($event)"
  (deleteCourseItem)="showDeleteConfirmationPopup($event)"
  ></app-course-item>
</div>

<app-pagination [coursesTotalAmount]="coursesTotalAmount" (pageNumberClick)="switchToPage($event)"></app-pagination>

