.course-item {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 10px 0;
    padding: 0 20px;
    align-items: center;
    border: 1px solid white;
}

.course-title {
    width: 20%;
}

.course-title-text {
    display: inline-block;
    font-weight: bold;
}

.course-description {
    width: 45%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 35px;
}

.edit-button,
.delete-button {
    border: 0;
    height: 35px;
    background: linear-gradient(to bottom, #4ae4db, #0faedc);
    border-radius: 7px;
    color: white;
    font-weight: bold;
    width: 100px;
    margin-left: 20px;
}

.star-icon {
    width: 20px;
}

.highlighted {
    background-color: #fefdbd;
}