<div [ngClass]="(isTopRated) ? ['course-item', 'highlighted'] : 'course-item'" [appChangeCourseBorder]="creationDate">
  <p class="course-date">{{creationDate | date : 'shortDate'}}</p>
  <div class="course-title">
      <p class="course-title-text">{{title | uppercase}}</p>
      <img *appHighlightTopRated="isTopRated" class="star-icon" src="../../../assets/star0.png">
  </div>
  <p class="course-description">{{description}}</p>
  <p class="course-duration">{{duration | stringifyDuration}}</p>
  <button class="edit-button" (click)="handleEditButtonClick($event)">Edit</button>
  <button class="delete-button" (click)="handleDeleteButtonClick($event)">Delete</button>

</div>