<div class="sign-in-container">
  <h2 class="login-header">Sign in</h2>
  <form class="login-form">
    <p class="login input-capture">Login</p>
    <input class="login input-field" type="text" name="login" placeholder="Enter your login">
    <p class="password input-capture">Password</p>
    <input class="password input-field" type="text" name="password" placeholder="Enter your password">
    <div>
      <input class="sign-in-button" type="submit" value="Sign in">
    </div>
    
  </form>
</div>