.breadcrumbs-container {
    padding-top: 20px;
}

.breadcrumb-list {
    list-style-type: none;
}

.breadcrumb-item-container {
    display: inline-block;
    padding: 10px;
}

.active {
    display: inline;
    pointer-events: none;
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}