<nav class="breadcrumbs">
  <ol>
    <li *ngFor="let breadcrumb of breadcrumbs">
      <a class="bradcrumbs-item" [routerLink]="[breadcrumb.url, breadcrumb.params]">{{ breadcrumb.label }}</a>
    </li>  
    <!-- <li>
      <a class="bradcrumbs-item" routerLink="/courses/new" routerLinkActive="active">New Course</a>
    </li> -->
  <!-- </ol>
    <li><a routerLink="" class="breadcrumb">Home</a></li>
    <li *ngFor="let breadcrumb of breadcrumbs">
      <a [routerLink]="[breadcrumb.url, breadcrumb.params]">{{ breadcrumb.label }}</a>
    </li>
  </ol> -->
</nav>
