<div class="add-course-container">
  <h2 class="new-course-form-title" *ngIf="!courseItem">New Course</h2>
  <div class="add-course-form">
    <p class="course-title input-caption">Title</p>
    <input class="course-title input-field" type="text" name="title" [(ngModel)]="courseItem.title"/>
    <app-course-description [(description)]="courseItem.description"></app-course-description>
    <p class="course-date input-caption">Date</p>
    <input class="course-date input-field" type="text" name="date" 
      [ngModel]="courseItem.creationDate | date : 'shortDate'" (ngModelChange)="courseItem.creationDate=$event" />
    <app-course-duration [(duration)]="courseItem.duration"></app-course-duration>
    <app-course-authors [authors]="courseItem.authors"></app-course-authors>
    <button class="save-course button" (click)="saveCourse($event)">Save</button>
    <button class="cancel button" (click)="cancel($event)">Cancel</button>
  </div>
</div>
