.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    background-color: white;
}

.header-content {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    align-items: center;
    margin: 0 auto;
    height: 60px;
}